body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 1.6rem;
}

h2 {
  margin-top: 5px;
  color: #555;
  font-size: 1.2rem;
}

.controls {
  background: #c5efe5;
  padding: 1.2rem;
  border-radius: 10px;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background: #007bce;
  padding: 0.6rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

button:hover {
  background: #005fa2;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th {
  background: black;
  color: white;
  padding: 0.6rem;
}

td {
  padding: 0.6rem;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background: #f9f9f9;
}