@media (min-width: 1100px) {
  .wrap {
    padding: 2rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .events,
  .weather,
  .spotlights {
    padding: 1.25rem;
  }
}
@media (min-width: 1300px) {
  .spotlight-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .hero-text h1 {
    font-size: 2.25rem;
  }

  .hero-text {
    left: 4rem;
    bottom: 4rem;
  }
}