:root {
  --primary: #000000;
  --accent: #000000;
  --dark: #111;
  --light: #fff;
  --font: "Poppins", sans-serif;
}

body {
  font-family: var(--font);
  background: var(--light);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background: var(--primary);
  color: var(--light);
  padding: 1rem;
}

nav {
  display: none;
}

#nav-menu.open {
  display: block;
}

main {
  padding: 1rem;
}

.hero {
  background: var(--accent);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: var(--light);
}

.hidden {
  display: none;
}
footer {
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}